<!-------h5 class="m-0"></h5>
<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
        <ul class="nav navbar-nav" >
            <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/timelog" >Log</a></li>
            <li><a routerLink="/creation" >Creation</a></li>
            <li><a routerLink="/statistics" >Statistics</a></li>
            <li><a routerLink="/profile" >Profile</a></li>
        </ul>
    </div>
</nav------->
<div class="header">
    <h1>Task Manager</h1>
    
  </div>
<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between"> 
 
        <!--------li><a class="navbar-brand" href="#" routerLink="/home" routerLinkActive="active">Home</a></li>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>------>
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" routerLink="/home" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <a class="navbar-brand" href="#" routerLink="/timelog" >Log</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div *ngIf="isManager">
            <a class="navbar-brand" href="#" routerLink="/creation" >Creation</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        
        <a class="navbar-brand" href="#" routerLink="/statistics" >Statistics</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <a class="navbar-brand" href="#" routerLink="/profile" >Profile</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        
       
       
    </nav>
   
    
  </nav>

